# List of accounts to accept VPC Peering Connection from
aws_account_id_management=<ACCOUNT01>
aws_account_id_shared_services=<ACCOUNT02>
aws_account_id_tenant=<ACCOUNT03>

# Owner account ID that accept VPC Peering Connection Requests
aws_account_id=<ACCOUNT02>
